/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Genome reference configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    genomes {
        'GRCh38' {
            fasta = '/analysis/cloud_projects/research/cancer/IsoSeq/pigeon_reference/human_GRCh38_no_alt_analysis_set.fasta'
            gtf   = '/analysis/cloud_projects/research/cancer/IsoSeq/pigeon_reference/gencode.v39.annotation.sorted.gtf'
        }
        'GRCh37' {
            fasta = null
            gtf   = null
        }
        // Add more genomes as needed
    }
}
