/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Module-specific configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // Segmentation (skera)
    withName: 'SKERA_SPLIT' {
        label = 'process_medium'
        publishDir = [
            path: { "${params.outdir}/segmentation/${meta.pool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Lima (demultiplexing)
    withName: 'LIMA' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/lima/${meta.pool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // IsoSeq refine
    withName: 'ISOSEQ_REFINE' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/isoseq/${meta.sample}/refine" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // IsoSeq cluster
    withName: 'ISOSEQ_CLUSTER' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/isoseq/${meta.sample}/cluster" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // pbmm2 alignment
    withName: 'PBMM2_ALIGN' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/isoseq/${meta.sample}/mapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // IsoSeq collapse
    withName: 'ISOSEQ_COLLAPSE' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/isoseq/${meta.sample}/collapse" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Pigeon prepare
    withName: 'PIGEON_PREPARE' {
        label = 'process_low'
        publishDir = [
            path: { "${params.outdir}/pigeon/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Pigeon classify
    withName: 'PIGEON_CLASSIFY' {
        label = 'process_high'
        publishDir = [
            path: { "${params.outdir}/pigeon/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Pigeon filter
    withName: 'PIGEON_FILTER' {
        label = 'process_medium'
        publishDir = [
            path: { "${params.outdir}/pigeon/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Pigeon report
    withName: 'PIGEON_REPORT' {
        label = 'process_low'
        publishDir = [
            path: { "${params.outdir}/pigeon/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
